---
import Layout from '../layouts/Layout.astro';
import Actions from '../components/Actions.astro';
---

<Layout title="CRHS CS Club">
	<main>
		<h1>Welcome to the<br /><span class="text-gradient">CRHS Computer Science Club</span></h1>
		<ul>
			<li>
				<Actions
					title="Pay Membership Dues"
					cta="Pay your membership dues online through HCB"
					link="#"
					link_text='CURRENTLY UNAVAILABLE'
				/>
			</li>
			<li>
				<Actions
					title="Join Our Next Meeting"
					cta="Our first meeting will be in Mr. P's room (2224) on September 11th"
					link="#"
					link_text=""
				/>
			</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	ul {
		list-style-type: none;
	}
	
</style>
