---
import Layout from '../layouts/Layout.astro';
import Actions from '../components/Actions.astro';
import Important from '../components/Important.astro';
---

<Layout title="CRHS CS Club">
	<main>
		<h1>Welcome to the<br /><span class="text-gradient">CRHS Computer Science Club</span></h1>
		<ul>
			<li>
				<Actions
					title="Join Our Next Meeting"
					cta="Our first meeting will be in Mr. P's room (2224) on September 11th"
					link="#"
					link_text=""
				/>
			</li>
			<li>
				<Actions
					title="Pay Membership Dues"
					cta="Pay your membership dues online through HCB"
					link="https://hcb.hackclub.com/donations/start/crhscs?message=Membership+Dues+%5BRegular+Member%5D.+Please+keep+the+below+checkbox+checked!&goods=true&amount=1500"
					link_text='Pay $15 to CRHS CS through HCB'
				>
					<Important message="Change the amount to $10 if you do not wish to participate in UIL. You must put your name as it appears on your student ID." />
				</Actions>
			</li>
			
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(255, 255, 255);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	ul {
		list-style-type: none;
	}
	
</style>
