---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The Cinco Ranch High School Computer Science Club website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 214, 39, 39;
		--accent-light: 247, 172, 171;
		--accent-dark: 92, 33, 32;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--card-gradient: linear-gradient(
			45deg,
			rgba(var(--accent), 0.2),
			rgba(var(--accent-dark), 0.2) 30%,
			rgba(138, 30, 30, 0.2) 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
</style>
